<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Insert</h1>
<form action="insert" method="post">    
<input type="number" placeholder="number" name=sid></br>
<input type="text" placeholder="name" name="sname"></br>
<button type="submit">Submit</button>
<button>Cancel</button>
</form>
<br>
<h1>Find by id</h1>
<form action="find" method="get">    
<input type="number" placeholder="number" name="sid">
<button type="submit">Submit</button>
<button>Cancel</button>
</form>
<h1>Find all</h1>
<form action="fall" method="get">    
<button type="submit">Submit</button>
<button>Cancel</button>
</form>
<h1>Remove by id</h1>
<form action="did" method="get">   
 <input type="number" placeholder="number" name="sid">
<button type="submit">Submit</button>
<button>Cancel</button>
</form>
<h1>Remove all</h1> 
<form action="dall" method="get"> 
<button type="submit">Submit</button>
<button>Cancel</button>
</form>
</body>
</html>